server {
  listen                80;
  server_name           {{ domain_name }};
  rewrite     ^(.*)     https://$server_name$1 permanent;
}

server {
  listen                443 ssl;
  server_name           {{ domain_name }};
  access_log            /var/log/nginx/{{ domain_name }}.access.log;
  error_log             /var/log/nginx/{{ domain_name }}.error.log error;

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

  ssl_certificate       /etc/ssl/certs/{{ domain_name }}.crt;
  ssl_certificate_key   /etc/ssl/private/{{ domain_name }}.key;

   location / {
       proxy_pass          http://localhost:8080/;

       proxy_http_version 1.1;
       proxy_set_header Upgrade $http_upgrade;
       proxy_set_header Connection "upgrade";
       proxy_read_timeout 600s;

       proxy_redirect    off;
       proxy_set_header  Host             $http_host;
       proxy_set_header  X-Real-IP        $remote_addr;
       proxy_set_header  X-Forwarded-For  $proxy_add_x_forwarded_for;
       proxy_set_header  X-Forwarded-Proto $scheme;
     }

}
