proxy:
  title: Animated NYC metro traffic
  port: 8080
  bind-address: 127.0.0.1
  heartbeat-rate: 10000
  heartbeat-timeout: 60000
  admin-groups: admins
  authentication: openid
  openid:
    auth-url: {{ auth_url }}
    token-url: {{ token_url }}
    jwks-url: {{ jwks_url }}
    client-id: {{ client_id }}
    client-secret: {{ client_secret }}
    logout-url: {{ logout_url }}
  docker:
    cert-path: /home/none
    url: http://localhost:2375
    port-range-start: 20000
  specs:
    - id: nyc_metro_vis
      display-name: Animated NYC metro traffic
      container-cmd: ["R", "-e", "shiny::runApp('/root/nyc_metro_vis')"]
      container-image: shinyappsacr.azurecr.io/nycmetrovis:1

server:
  useForwardHeaders: true

logging:
  file:
    shinyproxy.log
